/* Master
=============================*/
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #f8f8f8;
}

.content {
  height: 100vh;
  margin: 2rem auto;
  width: 630px;
}

.toolbar {
  width: 100wh;
  height: 20px;
  padding: 1rem;
  background: #fff;
}

.title {
  font-family: Bungee, Helvetica, sans-serif;
}

.palette {
  width: 24px;
  float: left;
  padding: 0;
}

input[type=radio] {
  padding: 0.5em;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0;
}

input[type=radio]#black { background: #000; }
input[type=radio]#gray { background: #666; }
input[type=radio]#light-gray { background: #999; }
input[type=radio]#lightest-gray { background: #d7d7d7; }

input[type=radio]:checked {
  border: 1px solid red;
}

.toolbar .btn {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(74, 198, 146);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 4px 9px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
  margin: 0;
}

.canvas {
  width: 600px;
  padding: 0;
  margin: auto;
  border: 1px solid #d7d7d7;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden;
  float: right;
}

.canvas .node {
  height: 24px;
  width: 24px;
  float: left;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.10s ease-in-out;
}
.canvas .node:hover {
  box-shadow: 0 0 1px salmon inset;
}
.canvas .node.filledBlack {
  background: #000;
}
.canvas .node.filledGray {
  background: #666;
}
.canvas .node.filledLightGray {
  background: #999;
}
.canvas .node.filledLightestGray {
  background: #d7d7d7;
}

footer {
  height: 10vh;
  background: #d7d7d7;
  font-size: 0.7rem;
  text-align: center;
  padding: 2rem;
  color: #999;
}
