/* Master
=============================*/

body {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #efefef;
}

.content {
  height: 100vh;
  margin: 2rem auto;
  width: 690px;
}

.toolbar {
  width: 100wh;
  height: 20px;
  padding: 1rem;
  background: #fff;
}

.palette {
  width: 60px;
  float: left;
}
.palette label {
  font-size: 0.7rem;
  display: inline-block;
}

.palette .swatch {
  display: block;
  width: 24px;
  height: 24px;
  box-shadow: 0 1px 1px #efefef inset;
  position: relative;
  cursor: pointer;
  transition: all 0.20s ease-in-out;
}
.palette .swatch input[type="radio"] {
}
.palette .swatch:before {
  content: "";
  width: 24px;
  height: 24px;
  box-shadow: 0 0 1px 1px red inset;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.palette .swatch:hover:before {
  display: block;
}
.palette .swatch.black {
  background: #000;
}
.palette .swatch.gray {
  background: #666;
}
.palette .swatch.light-gray {
  background: #999;
}
.palette .swatch.lightest-gray {
  background: #d7d7d7;
}

.toolbar .btn {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  background: #0072ac;
  text-align: center;
  padding: 4px 9px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.grid {
  width: 600px;
  padding: 0;
  margin: auto;
  border: 1px solid #d7d7d7;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden;
  float: right;
  position: relative;
}

.grid .node {
  height: 24px;
  width: 24px;
  float: left;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.10s ease-in-out;
}
.grid .node:hover {
  box-shadow: 0 0 1px salmon inset;
}
.grid .node.filledBlack {
  background: #000;
}
.grid .node.filledGray {
  background: #666;
}
.grid .node.filledLightGray {
  background: #999;
}
.grid .node.filledLightestGray {
  background: #d7d7d7;
}
